@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.table {
  width: clamp(375px, 225.3521px + 39.9061vw, 800px);
  border-collapse: collapse;
  margin: $spacing-md auto;
  font-family: $font-family-base;
  background-color: $bg-medium-dark;
  border-radius: $radius-base;
  overflow: hidden;
  box-shadow: $shadow-xl;
  color: $text-secondary;
}

.table thead {
  background-color: $bg-lighter;
  color: $text-primary;
  text-align: left;
}

.table th,
.table td {
  padding: $spacing-md $spacing-base;
  border-bottom: 1px solid $border-medium;
}

.table tbody tr:nth-child(even) {
  background-color: $bg-light;
}

.table tbody tr:hover {
  background-color: #3a3a3a;
  transition: $transition-bg;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table td {
  color: $text-tertiary;
}
