@use '../../../../../styles/abstracts/variables' as *;
@use '../../../../../styles/abstracts/mixins' as *;

.areaRectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 1;
}
