@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.roomCard {
  @include flex-column;
  flex: 1;
  gap: 10px;
  min-width: 150px;
  max-width: 240px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  @include card-base;
  @include card-hover;

  .title {
    font-weight: $font-weight-semibold;
    font-size: 14px;
    color: $text-secondary;
    text-align: left;
  }
}
