@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.trend {
  font-size: 16px;
  color: $text-disabled;
  transition: $transition-color;

  &.up {
    color: $color-danger;
  }

  &.down {
    color: $color-primary;
  }

  &.same {
    color: $text-disabled;
  }
}
