{% load mathfilters %}
<table class="table table-sm table-striped">
  <!-- Table Header  -->
    <thead>
      <tr>
        <th scope="col" class="text-center text-white bg-secondary bg-gradient "></th>
        {% for weekday, historys in room.temperature_history.items %}
        <th scope="col" class="text-center text-white bg-secondary bg-gradient"><sup>{{weekday|date:'D'}} {{weekday|date:'d/m'}}</sup></th>
        {% endfor %}
      </tr>
    </thead>
    <!-- Table Body  -->
    <tbody>
      {% for hour in hours_list %}
        <tr>
          <td class="text-center">{{hour}}H</td>
          {% for weekday, historys in room.temperature_history.items %}
            <td class="text-center">
              {% for history in historys %}
                {% if history.date_time.hour == hour %}
                  {% if history.temperature == 85000 %}
                     -
                  {% else %}
                     {{history.temperature|div:1000|floatformat:1}}
                  {% endif %}
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
</table>
