@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.block {
  position: relative;
}

.error {
  @include error-state;
}

.selectors {
  display: flex;
  justify-content: space-between;
}

.selectors > * {
  flex: 1;
  max-width: 33.33%;
  box-sizing: border-box;
  margin: $spacing-sm auto;
}

.loaderOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $z-index-overlay;
  pointer-events: none;
}
