@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.totalsDisplay {
  @include flex-column-center;
  color: $text-tertiary;
}

.cardGrid {
  @include flex-center;
  gap: $spacing-base;
  flex-wrap: wrap;
  margin: $spacing-sm auto;
}

.empty {
  color: $text-placeholder;
  font-style: italic;
  margin-top: $spacing-base;
}
