## ----------BACK---------- ##

.venv/
.env
.coverage
static/

# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Dossier migrations généré par Django
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.swp

# Base de données SQLite
db.sqlite3

## ----------FRONT---------- ##

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances et build
node_modules/
dist/
dist-ssr/
.vite/

# Fichiers locaux
*.local

## ----------Config éditeur---------- ##
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?