.venv/
.env
.coverage
static/

# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Dossier migrations généré par Django
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.swp

# Base de données SQLite
db.sqlite3
