Adafruit-Blinka==8.50.0
adafruit-circuitpython-mcp230xx==2.5.15
bleak==0.22.3
django==5.0
celery==5.4.0
django-redis==5.4.0 
factory_boy==3.3.1
flower==2.0.1
psycopg2-binary==2.9.9
pytest==8.3.3
pytest-django==4.9.0
pyserial==3.5
redis==5.1.1
result==0.17.0
RPi.GPIO==0.7.1