.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #555; // gris sombre
  border-top-color: #82ca9d; // couleur verte claire, adapte selon ton thème
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
