@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.axisX {
  display: flex;
  justify-content: space-between;
  grid-column: 2;
  grid-row: 2;
  flex-shrink: 0;
  margin: 0 -15px;
}

.xLabel {
  font-size: $font-size-sm;
  color: $text-muted;
  font-weight: $font-weight-medium;
}
