@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.axisX {
  display: flex;
  justify-content: space-between;
  grid-column: 2;
  grid-row: 2;
  flex-shrink: 0;
  margin: 0 -15px;
}

.xLabel {
  font-size: $font-size-sm;
  color: $text-muted;
  font-weight: $font-weight-medium;

  // Afficher 1 sur 4
  @include respond-to('tablet') {
    &:not(:nth-child(4n + 1)) {
      display: none;
    }
  }

  // Afficher 1 sur 2
  @include respond-to('lg') {
    &:not(:nth-child(2n + 1)) {
      display: none;
    }
  }
}
