<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      #teleinfo-data {
        margin-top: 10px;
        padding: 15px;
      }
      .data-item {
        margin-bottom: 10px;
        font-size: 1.4em;
      }
    </style>
  </head>
  <body>
    <div id="teleinfo-data">
    {% if data %} 
        {% for key, value in data.items %} 
            {% if "last_saved_at" in key or "last_read" in key %}
                <p class="data-item">
                    <strong>{{ key }}:</strong> {{ value|date:"Y-m-d H:i:s" }}
                </p>
            {% else %}
                <p class="data-item"><strong>{{ key }}:</strong> {{ value }}</p>
            {% endif %} 
        {% endfor %} 
    {% else %}
        <p>Aucune donnée disponible.</p>
    {% endif %}
    </div>
  </body>
</html>
