<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_Modal" title = "Ajouter une periode de chauffage">
  <i class="bi bi-plus-square"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="addHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_Modal" tabindex="-1" aria-labelledby="addHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="addHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalLabel">
            Ajouter un période de Chauffage
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal body & Form -->
      <form action="{% url 'housebrain:heating_periods' heating_mode.id %}?page={{ weekdays_pages.number }}" method="post">
      {% csrf_token %}
        <div class="modal-body">

          {{create_heating_period_form.start_time.label}} : {{create_heating_period_form.start_time}}<br>
          {{create_heating_period_form.end_time.label}} : {{create_heating_period_form.end_time}}<br>
          {{create_heating_period_form.setpoint_temperature.label}} : {{create_heating_period_form.setpoint_temperature}}<br>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" value="{'heating_mode':{{heating_mode.id}},'weekday':'{{weekday}}','room':{{room.id}} }" name="add_heating_period" class="btn btn-success">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>
