<!-- Button trigger offcanvas -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="offcanvas" data-bs-target="#copyHeatingMode_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_OffcanvasRight" title = "Copier le mode {{heating_mode.name}}">
  <i class="bi bi-back"></i> Mode {{heating_mode.name}}
</button>


<div class="offcanvas offcanvas-end text-center" tabindex="-1" id="copyHeatingMode_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_OffcanvasRight" aria-labelledby="offcanvasRightLabel">
  <!-- Offcanvas header -->
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">
      Copier le mode {{heating_mode.name}}
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <!-- Offcanvas body -->
  <form action="{% url 'housebrain:heating_periods' heating_mode.id %}?page={{ weekdays_pages.number }}" method="post">
    {% csrf_token %}
    <div class="offcanvas-body">
      <p class = "text-danger" >Attention toutes les anciennes périodes de chauffage du mode de destination seront supprimées</p>
      <h6>Choix du mode de destination</h6>
      <ul class="list-group">
          <li class="list-group-item bg-secondary text-white" aria-current="true">{{heating_mode.name}}</li>
        {% for heating_mode_radio in heating_mode_choice_form.mode_id %}
          {% if not heating_mode_radio.choice_label == heating_mode.name %}
            <li class="list-group-item">{{heating_mode_radio}}</li>
          {% endif %}
        {% empty %}
          <li class="list-group-item">Pas de mode</li>
        {% endfor %}
      </ul>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">Annuler</button>
      <button type="submit" value="{ 'heating_mode':{{heating_mode.id}} }" name="copy_heating_mode" class="btn btn-success">Copier</button>
    </div>
  </form>
</div>
