<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#copyWeekday_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_Modal" title = "Copier {{weekday}}">
  <i class="bi bi-back"></i> {{weekday}}
</button>

<!-- Modal -->
<div class="modal fade  text-center" id="copyWeekday_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_Modal" tabindex="-1" aria-labelledby="copyWeekday_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="copyWeekday_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalLabel">
            Copier {{weekday}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal body & Form -->
      <form action="{% url 'housebrain:heating_periods' heating_mode.id %}?page={{ weekdays_pages.number }}" method="post">
        {% csrf_token %}
        <div class="modal-body text-center">
          <p class = "text-danger" >Attention toutes les anciennes périodes de chauffage de la pièce de destination seront supprimées</p>
          <ul class="list-group">
            <li class="list-group-item bg-secondary text-white">{{weekday}}</li>
            {% for weekday_checkbox in copy_weekday_form.weekday %}
                {% if not weekday_checkbox.data.label == weekday %}
                  <li class="list-group-item">{{weekday_checkbox}}</li>
              {% endif %}
            {% endfor %}
          </ul>
      </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" value="{'heating_mode':{{heating_mode.id}},'weekday':'{{weekday}}' }" name="copy_weekday" class="btn btn-success">Copier</button>
        </div>
      </form>
    </div>
  </div>
</div>
