{% load mathfilters %}
<!-- Modal 2 -->
<div class="modal fade" id="modifyDeleteHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalToggle" aria-hidden="true" aria-labelledby="modifyDeleteHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <!-- Title Modal 1 -->
        <h5 class="modal-title" id="modifyDeleteHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalToggleLabel">
          Modal 1
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Body Modal 1 -->
      <form action="{% url 'housebrain:heating_periods' heating_mode.id %}?page={{ weekdays_pages.number }}" method="post">
      {% csrf_token %}
        <div class="modal-body">
          <!-- Modify Heating period parts -->


          start_time : <input class="form-control" type="time" name="start_time" value="{{heating_period.start_time}}" required id="id_start_time"><br>
          end_time : <input class="form-control" type="time" name="end_time" value="{{heating_period.end_time}}" required id="id_end_time"><br>
          setpoint_temperature : <input class="form-control" type="number" name="setpoint_temperature" value="{{heating_period.setpoint_temperature|div:1000|floatformat:0}}" required id="id_setpoint_temperature"><br>




          <button type="submit" value="{'heating_mode':{{heating_mode.id}},'weekday':'{{weekday}}','room':{{room.id}},'heating_period':{{heating_period.id}}}" name="modify_heating_period" class="btn btn-danger">
            Modifier
          </button>
          <!-- Delete Heating period parts -->
          <hr>
          <button class="btn btn-danger" data-bs-target="#modifyDeleteHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">
            Suprimer
          </button>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>

      </div>
    </div>
  </div>
</div>
<!-- Modal 2 -->
<div class="modal fade" id="modifyDeleteHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalToggle2" aria-hidden="true" aria-labelledby="modifyDeleteHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <!-- Title Modal 2 -->
        <h5 class="modal-title" id="modifyDeleteHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalToggleLabel2">
          <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 3rem;"></i>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Body Modal 1 -->
      <div class="modal-body">
        Voulez vous vraiment suprimer ?
      </div>
      <div class="modal-footer">
        <form action="{% url 'housebrain:heating_periods' heating_mode.id %}?page={{ weekdays_pages.number }}" method="post">
          {% csrf_token %}
          <button class="btn btn-secondary" data-bs-target="#modifyDeleteHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">
            Annuler
          </button>
          <button type="submit" value="{'heating_mode':{{heating_mode.id}},'weekday':'{{weekday}}','room':{{room.id}},'heating_period':{{heating_period.id}}}" name="delete_heating_period" class="btn btn-danger">
            Suprimer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal 1 -->
<a class="btn btn-{% if heating_period.setpoint_temperature < 18000 %}primary{% elif heating_period.setpoint_temperature < 20000 %}info{% elif heating_period.setpoint_temperature < 22000 %}success{% else %}danger{% endif %} btn-sm mx-0" data-bs-toggle="modal" href="#modifyDeleteHeatingPeriod_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_ModalToggle" role="button" title = "{{heating_period.start_time}}-{{heating_period.end_time}}&#10;Cliquer pour Mofifier ou Suprimer">
  <sup>{{heating_period.start_time}}</sup>{{heating_period.setpoint_temperature|div:1000|floatformat:0}}°<sup>{{heating_period.end_time}}</sup>
</a>
