<!-- Button trigger offcanvas -->
<button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#roomModels_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_OffcanvasRight" aria-controls="offcanvasRight" title = "Sauvegarder&#10;Ou Charger">
  <i class="bi bi-folder2-open"></i>
</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="roomModels_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_OffcanvasRight" aria-labelledby="roomModels_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_OffcanvasRightLabel">
  <!-- Offcanvas header -->
  <div class="offcanvas-header">
    <h5 id="roomModels_HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}_OffcanvasRightLabel">
      Modèle de chauffage
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <!-- Offcanvas body -->
  <div class="offcanvas-body">
    <!-- Loading a model - Part -->
    <h6>Charger un modèle</h6>
    <form action="{% url 'housebrain:heating_periods' heating_mode.id %}?page={{ weekdays_pages.number }}" method="post">
      {% csrf_token %}
      <ul class="list-group">
          <li class="list-group-item bg-secondary text-white" aria-current="true">Modèle(s)</li>
        {% for model_radio in room_heating_model_choice_form.model %}
          <li class="list-group-item">{{model_radio}}</li>
        {% empty %}
          <li class="list-group-item">Pas de modèle</li>
        {% endfor %}
      </ul>
      <br>
      <button type="submit" value="{'heating_mode':{{heating_mode.id}},'weekday':'{{weekday}}','room':{{room.id}} }" name="load_room_model" class="btn btn-danger">Charger</button>
    </form>
    <hr>

    <!-- Saving the model - Part -->
    <h6>Sauvegarder cette pièce</h6>
    <form action="{% url 'housebrain:heating_periods' heating_mode.id %}?page={{ weekdays_pages.number }}" method="post">
      {% csrf_token %}
      Entrez un nom pour le model :
      {{ room_heating_model_create_form.name }}
      <br>
      <button type="submit" value="{'heating_mode':{{heating_mode.id}},'weekday':'{{weekday}}','room':{{room.id}} }" name="save_room_model" class="btn btn-danger">Sauvegarder</button>
    </form>
  </div>
  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">Annuler</button>
  </div>
</div>
