@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.drawArea {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
}
