<!-- Button trigger modal -->
<a type="button" class="btn btn-secondary btn-lg d-block" data-bs-toggle="modal" data-bs-target="#manual_turn_off_heating_Modal" title = "Eteindre le chauffage temporairement">
  <i class="bi bi-power"></i> Eteindre le chauffage temporairement
</a>

<!-- Modal -->
<div class="modal fade" id="manual_turn_off_heating_Modal" tabindex="-1" aria-labelledby="manual_turn_off_heating_ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="manual_turn_off_heating_ModalLabel">
            Eteindre le chauffage<br>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal body & Form -->
      <form action="{% url 'housebrain:homepage' %}" method="post">
      {% csrf_token %}
        <div class="modal-body">

          {{manual_temperature_form.manual_mode_start.label}} : {{manual_temperature_form.manual_mode_start}}<br>
          {{manual_temperature_form.manual_mode_end.label}} : {{manual_temperature_form.manual_mode_end}}<br>
          {{manual_temperature_form.manual_setpoint_temperature.label}} : {{manual_temperature_form.manual_setpoint_temperature}}<br>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" value="manual_turn_off_heating" name="manual_turn_off_heating" class="btn btn-success">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
