{% load static %}

<!-- Heating links -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Chauffage
  </a>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="{% url 'housebrain:heating_homepage' %}"><i class="bi bi-thermometer-half"> Températures</i></a></li>
    <li><a class="dropdown-item" href="{% url 'housebrain:heating_calendar' %}"><i class="bi bi-calendar-date"> Calendrier</i></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item disabled">Modes de chauffage :</a></li>
    {% for heating_mode in all_heating_modes %}
    <li><a class="dropdown-item" href="{% url 'housebrain:heating_periods' heating_mode.id %}?page=1">{{heating_mode.name}}</a></li>
    {% endfor %}
  </ul>
</li>
