@use '../../../styles/abstracts/variables' as *;

.gaugeContainer {
  position: relative;
  width: 100%;
  max-width: 260px;
  height: 160px;
  margin: 0 auto;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 260px;
  overflow: visible;
}
