@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.dropdownLink {
  @include link-base;
}

@include respond-to('md') {
  .dropdownLink {
    padding: $spacing-md $spacing-base;
    font-size: $font-size-sm;
    margin: 0 0.4rem;
  }
}
