<!-- Button trigger offcanvas -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="offcanvas" data-bs-target="#addHeatingMode_HM{{heating_mode_calendar.heating_mode.id}}_OffcanvasRight" title = "Inserer un mode dans cette période">
  <i class="bi bi-plus-lg"></i>
</button>


<div class="offcanvas offcanvas-end text-center" tabindex="-1" id="addHeatingMode_HM{{heating_mode_calendar.heating_mode.id}}_OffcanvasRight" aria-labelledby="offcanvasRightLabel">
  <!-- Offcanvas header -->
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">
      Nouveau Mode
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <!-- Offcanvas body -->
  <form action="{% url 'housebrain:heating_calendar' %}" method="post">
    {% csrf_token %}
    <div class="offcanvas-body">
      Mode à ajouter

      liste des modes

    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">Annuler</button>
      <button type="submit" value="{'heating_mode_calendar.heating_mode':{{heating_mode_calendar.heating_mode.id}}}" name="add_heating_mode_calendar.heating_mode" class="btn btn-success">Créer</button>
    </div>
  </form>
</div>
