@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as *;

.layout {
  min-height: 100vh;
  @include flex-column;
  background-color: $bg-darkest;
  color: $text-secondary;
  font-family: $font-family-base;
}

.main {
  flex: 1;
  padding: $spacing-2xl;
  max-width: $max-width-container;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/* Responsive */
@include respond-to('tablet') {
  .main {
    padding: $spacing-base;
  }
}

@include respond-to('sm') {
  .main {
    padding: $spacing-md 0;
  }
}
