@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.duplicationPanel {
  @include flex-column;
  gap: $gap-md;
  height: 100%;

  h3 {
    font-size: $font-size-lg;
    margin: 0;
    color: $text-primary;
    font-weight: $font-weight-semibold;
  }
}

.section {
  // Spacing between sections handled by parent gap
}

.dateRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap-md;
}

.errors {
  background-color: $bg-lighter;
  border: 1px solid $border-light;
  border-radius: $radius-sm;
  padding: $gap-sm $gap-md;
  color: #c33;

  ul {
    margin: 0;
    padding-left: $gap-md;

    li {
      font-size: $font-size-xs;
      margin: $gap-xs 0;
    }
  }
}
