@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.summary {
  background: $bg-dark;
  border: 1px solid $border-medium;
  border-radius: $radius-lg;
  padding: $spacing-md;
  font-size: $font-size-sm;
  color: $text-primary;
}

.content {
  line-height: 1.8;
}

.section {
  margin-bottom: $spacing-xs;
  color: $text-primary;
}

.list {
  padding-left: $spacing-md;
  margin-bottom: $spacing-xs;
}

.item {
  color: $color-primary;
  padding: 0;
}

.highlight {
  color: $color-primary;
  font-weight: $font-weight-semibold;
  padding: $spacing-xs 0;
}
