@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.duplicationPanel {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  height: 100%;

  h3 {
    font-size: $font-size-xl;
    margin: 0;
    color: $text-primary;
    font-weight: $font-weight-semibold;
  }
}

.section {
  // Spacing between sections handled by parent gap
}
