@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.modeToggle {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: stretch;
  background: $bg-dark;
  border-radius: $radius-lg;
  border: 1px solid $border-medium;
  padding: 0;
  overflow: hidden;
  height: 30px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  background: transparent;
  color: $text-secondary;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: $transition-all;

  &:hover {
    color: $text-primary;
  }

  &.active {
    background: $color-primary;
    color: white;
    font-weight: $font-weight-semibold;
  }
}

.separator {
  width: 1px;
  background: $border-medium;
  height: 100%;
}
