@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as *;

.dailyConsumption {
  @include flex-column;
  gap: 5vh;
  max-width: $max-width-container;
  margin: 0 auto;
  padding: $spacing-sm;
  color: $text-primary;
  border-radius: $radius-md;
  box-shadow: $shadow-xl;
  font-family: $font-family-base;
}

.graphBlock {
  background-color: $bg-medium-dark;
  border-radius: $radius-base;
  flex: 1;
  min-height: 45vh;
}
