@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as *;

.notFound {
  @include flex-column-center;
  height: 80vh;
  text-align: center;

  h1 {
    font-size: $font-size-5xl;
    margin-bottom: $spacing-base;
  }

  p {
    font-size: $font-size-3xl;
    margin-bottom: $spacing-2xl;
  }

  a {
    color: $color-info;
    text-decoration: none;
    font-weight: $font-weight-bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
