@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.verticalGridLines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex-column;
  justify-content: space-between;
  pointer-events: none;
}

.gridLine {
  width: 100%;
  height: 1px;
  border-top: 1px dashed $border-medium;
  opacity: 0.5;

  &:last-child {
    border-top: none;
  }
}
