@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.dateSelector {
  @include flex-center;
  gap: $gap-md;
}

.navButton {
  @include button-base;
  min-width: 2.5rem;
  height: 55px;
  font-size: $font-size-lg;

  &:hover {
    color: $color-primary;
  }
}

.datePicker {
  @include input-base;
  height: 55px;
  min-width: 150px;
  text-align: center;
  cursor: pointer;
}
