@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.filterBar {
  @include flex-between;
  min-height: 70px;
  padding: 0 $spacing-lg;
  gap: $gap-sm;
  flex-shrink: 0;
  flex-wrap: wrap;
}

@include respond-to('lg') {
  .filterBar {
    @include flex-column;
    padding: $spacing-sm;
  }
}
