@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.typeSelector {
  @include flex-center;
  gap: $gap-sm;

  @include respond-to('tablet') {
    width: 100%;
  }
}

.button {
  @include button-base;
  height: 55px;
  width: 130px;

  @include respond-to('tablet') {
    flex: 1;
    width: auto;
  }
}

.active {
  @include button-active($color-primary, $glow-primary);
}
