@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.totalsCards {
  @include flex-center;
  min-height: 70px;
  padding: 0 $spacing-lg;
  gap: $gap-sm;
  flex-shrink: 0;
  flex-wrap: wrap;
}

@include respond-to('lg') {
  .totalsCards {
    @include flex-column;
    padding: $spacing-sm;
  }
}
