@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.card {
  @include flex-center;
  background: $bg-light;
  color: $text-primary;
  padding: $spacing-sm $spacing-base;
  border-radius: $radius-md;
  box-shadow: $shadow-sm;
  min-width: 300px;
  gap: $gap-xs;
}

.label {
  font-size: $font-size-sm;
  color: $text-disabled;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.kwh {
  font-size: $font-size-sm;
  color: $color-gold;
}

.euros {
  font-size: $font-size-sm;
  color: $color-cyan;
}
