{% load static %}
<!doctype html>
<html lang="en">

<!-- Head ################################################### -->
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <!-- Bootstrap icones CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Personal CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

    <!-- Head / title -->
    <title>{% block title %}House Brain{% endblock %}</title>
  </head>

<!-- Body ################################################### -->
  <body>

    <!-- Body / header -->
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href={% url 'housebrain:homepage' %}>
              <img src="{% static 'assets/img/logo.png' %}" width="50" height="50" alt=""> House Brain
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Périodes de chauffage
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                      {% for heating_mode in all_heating_modes %}
                      <li><a class="dropdown-item" href="{% url 'housebrain:heating_periods' heating_mode.id %}?page=1">Semaines {{heating_mode.name}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'housebrain:heating_calendar' %}"><i class="bi bi-calendar-date"></i> Calendrier</i></a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'authentication:logout' %}">{{user.username}} <i class="bi bi-box-arrow-right"></i></a></li>
                  {% if user.is_superuser %}<li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'authentication:login' %}">Connexion</a></li>
                {% endif %}

              </ul>
              <span class="navbar-text">
                {% now "D d F Y  H:i" %}
              </span>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- Body / main / custom zone -->
    <div class="container">
    {% block main %}
    {% endblock %}
    </div>

    <!-- Body / footer -->
    <footer>
    </footer>

     <!-- JavaScript Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  </body>
</html>
