{% extends 'base.html' %}
{% load static %}
{% block title %}House Brain{% endblock %}
{% block main %}

    <div class="accordion" id="accordion">


      <!-- all rooms with temperature sensor only -->

      {% for room in rooms_with_temperature_sensor_only %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{room.id}}">
          <button class="accordion-button collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{room.id}}" aria-expanded="false" aria-controls="collapse{{room.id}}">
            <div class="container px-1">

              <div class="row gx-1 px-0">
                <div class="col-6">
                  <div class="border rounded-3 bg-light text-truncate py-1 px-1">{{room.name}}</div>
                </div>
                <div class="col-6">
                 <div class="border rounded-3 bg-light text-center py-1">{{room.measured_temperature}}</div>
                </div>
              </div>

            </div>
          </button>
        </h2>
        <div id="collapse{{room.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{room.id}}" data-bs-parent="#accordion">
          <div class="accordion-body">
            {% for day, day_data in room.temperature_history.items %}
              <hr>{{day}}<br><hr><br>
              {% for data in day_data %}
                {{data.date_time}} - {{data.temperature}}<br>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- all rooms with heating -->

      {% for room in rooms_with_heating %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{room.id}}">
          <button class="accordion-button collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{room.id}}" aria-expanded="false" aria-controls="collapse{{room.id}}">
            <div class="container px-1">

              <div class="row gx-1 px-0">
                <div class="col-2">
                 <div class="border rounded-3 text-center {{room.color}} py-1">{{room.heater_state}}</div>
                </div>
                <div class="col-6">
                  <div class="border rounded-3 bg-light text-truncate py-1 px-1">{{room.name}}</div>
                </div>
                <div class="col-4">
                 <div class="border rounded-3 bg-light text-center py-1">{{room.measured_temperature}} ({{room.setpoint_temperature}})</div>
                </div>
              </div>

            </div>
          </button>
        </h2>
        <div id="collapse{{room.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{room.id}}" data-bs-parent="#accordion">
          <div class="accordion-body">
            next
          </div>
        </div>
      </div>
      {% endfor %}

    </div>



{% endblock %}
