{% extends 'base.html' %}
{% load static %}
{% block title %}House Brain{% endblock %}
{% block main %}
    <div class="accordion" id="accordion">
      <!-- Display teleinformation-->


      <!-- Display all rooms without heating names and current température + a collapsible table with 7 days temperature history-->
      {% for room in rooms_without_heating %}
        {% include "parts/rooms_without_heating_accordion-item.html" %}
      {% endfor %}

      <!-- display all rooms with heating name heater state and couple current température / setpoint temperature -->

      {% for room in rooms_with_heating %}
        {% include "parts/rooms_with_heating_accordion-item.html" %}
      {% endfor %}
    </div>
{% endblock %}
