{% load mathfilters %}
<div class="accordion" id="accordion">
  {% for room in rooms_with_heating %}
    <div class="accordion-item">
      <!-- visible part  -->
      <h2 class="accordion-header" id="heading_{{room.room.id}}">
        <button class="accordion-button collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{room.room.id}}" aria-expanded="false" aria-controls="collapse_{{room.room.id}}">
          <div class="container px-1">
            <div class="row gx-1 px-0">
              <div class="col-2">
               <div class="border rounded-3 text-center py-1
                 {% if room.heater.is_on %}
                    bg-danger bg-gradient "> ON
                 {% else %}
                    bg-light "> OFF
                 {% endif %}
               </div>
              </div>
              <div class="col-6">
                <div class="border rounded-3 bg-light text-truncate py-1 px-1">
                  {{room.room.name}} {% if room.room.manual_mode_start %}<i class="bi bi-hand-index-thumb-fill"></i>{% endif%}
                </div>
              </div>
              <div class="col-4">
               <div class="border rounded-3 bg-light text-center py-1">
                 {% if room.sensor.last_measured_temperature == 85000 %}
                    -
                 {% else %}
                    {{room.sensor.last_measured_temperature|div:1000|floatformat:1}}
                 {% endif %}
                 ({{room.room.setpoint_temperature|div:1000|floatformat:"0"}})
               </div>
              </div>
            </div>
          </div>
        </button>
      </h2>
      <!-- collapsible part  -->
      <div id="collapse_{{room.room.id}}" class="accordion-collapse collapse" aria-labelledby="heading_{{room.room.id}}" data-bs-parent="#accordion">
        <div class="accordion-body">
          <div class="row">
            <div class="col-sm-12 col-lg-10 text-sm-center text-lg-start">
              {% if room.room.manual_mode_start %}
                Température manuelle<br class='d-lg-none'>
                du <strong>{{ room.room.manual_mode_start|date:"j/n" }} {{ room.room.manual_mode_start|time:"H:i" }}</strong>
                au <strong>{{ room.room.manual_mode_end|date:"j/n" }} {{ room.room.manual_mode_end|time:"H:i" }}</strong><br class='d-lg-none'>
                à <strong>{{room.room.manual_setpoint_temperature|div:1000|floatformat:1}}°</strong>
              {% endif%}
            </div>
            <div class="col-sm-12 col-lg-2 text-center">
              {% if user.is_authenticated %}
                {% if room.room.manual_mode_start %}
                  <form action="{% url 'housebrain:homepage' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" value="{{room.room.id}}" name="delete_manual_temperature" class="btn btn-outline-secondary btn-sm" title = "Suprimer Température manuelle" ><i class="bi bi-trash"></i></button>
                  </form>
                {% else %}
                  {% include "parts/heating_homepage/buttons/set_manual_temperature.html" %}
                {% endif%}

                {% else %}
                  <a class="nav-link active" href="{% url 'authentication:login' %}">Connectez vous pour atteindre ces fonctionnalitées</a>
                {% endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
