.graphContainer {
  width: 100%;
  margin-top: 16px;
  height: 80px;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  padding-top: 12px;
}

.svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}
