<div class="accordion" id="accordionHeatingModes">
  {% for heating_mode, weekdays in heating_modes.items %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}" aria-expanded="false" aria-controls="collapseHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}">
          {{heating_mode.name}}
        </button>
      </h2>
      <div id="collapseHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}" class="accordion-collapse collapse" aria-labelledby="headingHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}" data-bs-parent="#accordionHeatingModes">
        <div class="accordion-body">
          {% include "parts/heating_periods/weekdays_accordion.html" %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
