{% for room, heating_periods in rooms.items %}
<div class="container" id="HM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}">
  <div class="row justify-content-start">
    <div class="col">
      {{room.name}}
    </div>
    <div class="col-9 px-0">
      {% include "parts/heating_periods/heating_periods_cols.html" %}
    </div>
    <div class="col text-center">
      {% include "parts/heating_periods/buttons/copy-room.html" %}
      {% include "parts/heating_periods/buttons/reset-room.html" %}
    </div>
  </div>
</div>
{% endfor %}
