<div class="accordion" id="accordionHeatingMode{{heating_mode.id}}Rooms">
  {% for room in rooms   %}
    <div class="accordion-item">
      <!-- visible part  -->
      <h2 class="accordion-header" id="headingHeatingModeId{{heating_mode.id}}Room{{room.room.id}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeatingModeId{{heating_mode.id}}Room{{room.room.id}}" aria-expanded="false" aria-controls="collapseHeatingModeId{{heating_mode.id}}Room{{room.room.id}}">
          {{room.room.name}}
        </button>
      </h2>
      <!-- collapsible part  -->
      <div id="collapseHeatingModeId{{heating_mode.id}}Room{{room.room.id}}" class="accordion-collapse collapse" aria-labelledby="headingHeatingModeId{{heating_mode.id}}Room{{room.room.id}}" data-bs-parent="#accordionHeatingMode{{heating_mode.id}}Rooms">
        <div class="accordion-body">
          {% include "parts/heating_periods/weekdays_accordion.html" %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
