<div class="accordion" id="accordionWeekdays">
  {% for weekday, rooms in weekdays.items %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}" aria-expanded="false" aria-controls="collapseHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}">
          {{weekday}}
        </button>
      </h2>
      <div id="collapseHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}" class="accordion-collapse collapse" aria-labelledby="headingHM{{heating_mode.id}}W{{weekday}}R{{room.id}}HP{{heating_period.id}}" data-bs-parent="#accordionWeekdays">
        <div class="accordion-body">
            {% include "parts/heating_periods/rooms_rows.html" %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
